/*body {
  background-color: #fff;
}

h1 {
  color: #fff;
  text-align: center;
}

img {    
  width: 70px;
  height: 120;  
}

#link-top{
    float: inherit; 
}

#btn-pesquisa{
    background-color: #fe562c;
    border: #fe562c;
}*/

.logotopo{
  width: 90px;
  height: 140; 
}




